[Unit]
Description=LinksKeeperTelegramBot

[Service]
ExecStart=/root/LinksKeeperTelegramBot/runLinksKeeperTelegramBot.sh

[Install]
WantedBy=multi-user.target